.text-primary,
.text-success {
  color: var(--orange) !important;
}
.bg-primary {
  background: var(--orange) !important;
}
.btn-primary {
  color: var(--orange) !important;
}
.border-primary {
  color: 1px solid var(--orange) !important;
}
.text-light {
  color: rgb(218, 214, 214) !important;
}

input,
textarea,
select {
  border: 0px !important;
  border-bottom: 1px solid var(--orange) !important;
  font-size: 17px;
  font-family: consolas;
  background: transparent !important;
}
input:focus,
textarea:focus,
select:focus {
  border-bottom: 2px solid var(--orange) !important;
}
.border-none {
  border: none !important;
}
:focus-visible {
  outline: none;
}
.fa {
  background: transparent !important;
}
.rounded-x {
  border-radius: 10px;
}
.btn-success {
  background-color: var(--orange);
  border: 1px solid var(--orange);
}

ul > li:hover,
.li-hover {
  border-top: 2px solid var(--orange) !important;
  border-radius: 4px;
  color: var(--orange) !important;
}

.card-img-top {
  height: 200px !important;
}
input,
textarea,
select {
  border: 0px !important;
  font-size: 17px;
  font-family: consolas;
  background: transparent !important;
}
.border-none {
  border: none !important;
}
:focus-visible {
  outline: none;
}
.fa {
  background: transparent !important;
}
.rounded-x {
  border-radius: 10px;
}
